.contact,
.lastpart,
.little-part {
    width: 100%;
}

footer {
    position: absolute;
    width: 100%;
    height: 43%;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;

}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30%;
}

.contact div h6 {
    text-align: left;
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
    color: #252B42;
}

.contact div {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact span {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.contact button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    width: 158px;
    height: 58px;
    background: #784F33;
    border-radius: 5px;
    border-style: hidden;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.37);

}

.last-part {
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    height: 55%;

}

.little-part {
    height: 12%;
}

table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 44px 0px;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    text-align: left;
}
tr{
    margin: 10px 0;
}
th {
    width: 171px;
    /* border: 1px solid black; */
    font-family: 'Martel';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-bottom: 25px;
    /* padding:0px 0px 10px 50px; */
}

td {
    width: 191px;
    height: 31px;
    padding-left: 50px;
    /* border: 1px solid black; */
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
#phone, #location, #mail{
    display: flex;
    flex-direction: row;
    align-content: center;
}
#phone, #location, #mail img{
    margin-top: 4px;
    margin-right: 5px;
}
#location{
    width: 250px;
}
table tr td img{
    /* margin-top: px; */
}
