main{
    width: 100%;
    height: 100%; 
}
#hero-section {
    position: relative;
    background-image: url("/assets/media/images/cover.png");    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    width: 100%;
    height: 752px;

}

.section {
    width: 89%;
    height: 752px;
    margin: 0;
}

.wrapper {
    position: relative;
}

#hero-section article {
    position: absolute;
    height: 60%;
    width: 35%;
    top: 15%;
    left: 111px;
}

.content h1 {
    font-size: 58px;
    font-family: 'Martel', serif;
    color: #252B42;
    text-transform: uppercase;
    top: 100px;
    line-height: 80px;
}

.content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #737373;
    line-height: 30px;
    padding: 22px 0 30px 0;
}

.btn {
    display: inline;
    height: 48px;
    width: 182px;
    border-radius: 37px;
    border: 1px solid #784F33;
    padding: 10px 36px 10px 36px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.quoting {
    background-color: #784F33;
    color: white;
}

.info {
    background-color: white;
    color: #784F33;
}

.card-items {
    z-index: 999;
    left: 10%;
    position: absolute;
    bottom: -64px;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card {
    padding-left: 30px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    flex-direction: column;
    border: none;
    width: 328px;
    height: 210px;
    margin: 10px;
    border: none;
    display: flex;
    justify-content: center;
    line-height: 20px;
}

.card-items h2 {
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 69px;
}

.card-items p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.c1,
.c2 {
    background-color: white;
}
.c1 img{
    width: 55px;
    height: 45px;
}
.c2 img {
    width: 58px;
    height: 39px;
}
.c3 img{
    width: 53px;
    height: 47px;
}

.c3 {
    background-color: #295C7A;
    color: aliceblue;
}
.c1, .c2 h2{
    color: #252B42;

}
.c3 h2{
    color: white;
}
.c3 p{
    color: #FFFFFF;
}