#hero-section {
    position: relative;
    background-image: url("/assets/media/cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    width: 100%;
    height: 752px;
}

.section {
    width: 89%;
    height: 752px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
}

#hero-section article {
    position: absolute;
    height: 100%;
    width: 35%;

    top: 15%;
    position: absolute;
    left: 111px;
}

.content h1 {
    font-size: 58px;
    font-family: 'Martel', serif;
    color: #252B42;
    text-transform: uppercase;
    top: 100px;
    line-height: 80px;
}
.content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #737373;
    line-height: 30px;
    padding: 22px 0 30px 0;
}

.btn {
    height: 48px;
    width: 182px;
    border-radius: 37px;
    border: 1px solid #784F33;
    padding: 10px 36px 10px 36px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}
.quoting{
    background-color:#784F33;
    color: white;
}
.info{
    background-color: white;
    color: #784F33;
}