.part4 {
    position: relative;
    width: 100%;
    height: 53vh;
    background-color: #252B42;
    display: flex;

}

.companies {
    background-color: #FAFAFA;
    width: 100%;
    height: 245px;
}

.companies ul {
    position: relative;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.companies ul li {
    margin-right: 80px;
}

.subscribe {
    position: absolute;
    bottom: 15px;
    top: 78%;
    left: 46%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 30px 50px;
    width: 986px;
    height: 124px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.subscribe div {
    width: 50%;
    height: 100%;
}
.subscribe div:last-child{
    display: flex;
    flex-direction: row;
}
.subscribe div:first-child {
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.subscribe input {
    width: 100%;
    height: 100%;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-left: 19px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    display: inline;
}

.subscribe button {
    z-index: 10;
    background: #D0A144;
    position: absolute;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    height: 64px;
    width: 116px;
    right: 50px;
    top: 30px;
}