.part-5 {
    width: 100%;
    height: 80%;
    position: relative;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cncpt-3 {
    top: 16%;
}

.main-card {
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.request {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 985px;
    height: 333px;
    margin-top: 100px;
}

.main-card span {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
}

.main-card p {
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;

}

.main-card button {
    padding: 10px 20px;
    color: #D0A144;
    gap: 10px;
    width: 154px;
    height: 44px;
    border: 1px solid #D0A144;
    border-radius: 5px;
}

.request1 span {
    color: #252B42;
}

.request1 p {
    color: #252B42;
}

.request2 span {
    color: #FFFFFF;
}

.request2 p {
    color: #FFFFFF;
}

.request3 span {
    color: #252B42;
}

.request3 p {
    color: #252B42;
}

.request1 button {
    background-color: #FFFFFF;
}

.request2 button {
    background-color: #252B42;
}

.request3 button {
    background-color: #FFFFFF;
}

.request1,
.request3 {
    background-color: #FFFFFF;
    padding: 50px 40px;
    width: 33%;
    height: 100%;
}

.request2 {
    color: #FFFFFF;
    background-color: #252B42;
    padding: 80px 40px;
    gap: 15px;
    width: 34%;
    height: 113%;
}