* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 200vh;
    width: 100%;
}

nav {
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: #f5f2f2;
    padding: 10px 0;
}

.container {
    top: 0;
    height: 15px;
    padding: 30px;
    width: 74%;
    margin: 0 auto;
    /* position: relative; şşşş*/

}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.nav-links ul {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links ul li {
    flex-direction: column;
    margin: auto 20px;
}

.nav-links ul li a {
    font-size: 14px;
    color: #737373;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav-button {
    position: relative;
    width: 30px;
    height: 30px;
}

.hamburger {
    background-color: #f5f2f2;
    border: none;
}
/* .hamburger:active{
} */

.hamburger div:nth-child(1) {
    top: 0;
    right: 0;
    width: 26px;
    height: 5px;
    border: 1px solid black;
    background-color: black;
    position: absolute;
}

.hamburger div:nth-child(2) {
    top: 11px;
    right: 0;
    width: 18px;
    height: 5px;
    border: 1px solid black;
    background-color: black;
    position: absolute;
}

.hamburger div:nth-child(3) {
    top: 22px;
    right: 0;
    width: 8px;
    height: 5px;
    border: 1px solid black;
    background-color: black;
    position: absolute;
}


