.part-2 {
    background-color: #fafafa;
    width: 100%;
    height: 60%;
    position: relative;
}

.concept {
    width: 500px;
    height: 100px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.part-2 h2 {
    text-align: center;
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    font-family: 'Martel', serif;
    margin-bottom: 10px;
}

.part-2 p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.info-cards {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 58%;
    display: flex;
    justify-content: center;
}

.info-cards div {
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    right: 50px;
    width: 230px;
    height: 202px;
    margin-right: 50px;
    background-color: #fafafa;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 23px 19px;
    gap: 10px;
    text-transform: uppercase;
}

.cards {
    font-family: 'Martel', serif;
    text-align: center;
}

.cards span {
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    font-size: 40px;
}

.cards p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
}